@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

/* Базовые стили для светлой темы */
body {
  background-color: #f9f9f9;
  color: #333;
  font-family: Arial, sans-serif;
}

/* Стили для темной темы */
body.dark {
  background-color: #333;
  color: #f9f9f9;
}

nav {
  background-color: #4caf50;
}

body.dark nav {
  background-color: #2e7d32;
}
